<a href="https://colab.research.google.com/github/Jnfagundes/estudoproj/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Trabalhando com biblioteca Pandas')
! pip install pandas
import pandas as pd
pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastphat=False)
pd.Series(data=5)
pd.Series('Howard Ian Peter Jonah Kellie'.split())

In [10]:
pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
pd.DataFrame('Howard Ian Peter Jonah Kellie'.split(), columns=['nome'])

     nome
0  Howard
1     Ian
2   Peter
3   Jonah
4  Kellie

In [ ]:
lista_nomes = 'Howard Ian Peter Jonah Kellie'.split()
lista_cpfs = '111.111.111-11 222.222.222-22 333.333.333-33 444.444.444-44
555.555.555-55'.split()
lista_emails = 'risus.varius@dictumPhasellusin.ca
Nunc@vulputate.ca fames.ac.turpis@cursusa.org non@felisullamcorper.org
eget.dictum.placerat@necluctus.co.uk'.split()
lista_idades = [32, 22, 25, 29, 38]
dados = list(zip(lista_nomes, lista_cpfs, lista_idades, lista_emails)) # cria
uma lista de tuplas # Cria um DataFrame a partir de uma lista de tuplas
pd.DataFrame(dados, columns=['nome', 'cpfs', 'idade', 'email'])